extends layout

block content
    table
        tr  
            th id
            th Typenumber
            th Softwareversion
            th Name
            th Lysintensitet
            th Farve
            th On
        each bulb in bulbs
            tr
                td=bulb.id
                td=bulb.Typenumber
                td=bulb.SoftwareVersion
                td=bulb.Name
                td=bulb.Lysintensitet
                td=bulb.Farve
                if bulb.On
                    td="On"
                else
                    td="off"