extends layout

block content
    table
        tr  
            th id
            th Typenummer
            th Softwareversion
            th Name
            th Lysintensitet
            th Farve
            th On
        each bulb in bulbs //THIS IS MY JS
            tr
                td=bulb.id
                td=bulb.Typenummer
                td=bulb.SoftwareVersion
                td=bulb.Name
                td=bulb.Lysintensitet
                td=bulb.Farve
                td=bulb.On